
body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 415px;
    color: white;
    padding-top: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

ul {
    display: flex;
    color: white;
    list-style-type: none;
    font-size: 12px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.info-1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 90px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.intro-dec {
    font-size: 48px;
    color: #f9faf8;
    
}

.intro-description {
    font-size: 18px;
    color: #e5e7eb;
}

.info1-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 3px;
    border-color: #3882f6;
    align-self: flex-start;
    padding: 2px 25px;
}

.intro-img {
    width: 400px;
    height: 220px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.internal-info2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.some-random {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.four-box {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 30px;
}

.box {
    height: 100px;
    width: 100px;
    margin: 0;
    border: solid;
    border-radius: 20%;
    border-color: #3882f6;
    border-width: 3px;
}

.box-text {
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.info-3 {
    background-color: #e5e7eb;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-info3 {
    display: flex;
    flex-direction: column;
}

.inspiring-quote {
    font-size: 36px;
    width: 825px;
    color: #1f2937;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    color: #1f2937;
    font-weight: bold;
}

.info-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.internal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    height: auto;
    width: 600px;
    border-radius: 5px;
    padding: 25px 65px;

}

.internal-left {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}

.c-2-a-signup {
    font-size: 12px;
}

.internal-right {
    color: white;
    background-color: #3882f6;
    border: solid;
    border-color: #e5e7eb;
    border-radius: 3px;
    padding: 3px 20px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
}