
body {
    margin: 0;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
}

ul {
    display: flex;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.info-1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 40px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.intro-dec {
    font-size: 48px;
    color: #f9faf8;
    
}

.intro-description {
    font-size: 18px;
    color: #e5e7eb;
}

.intro-img {
    width: 400px;
    height: 150px;
    background-color: grey;
}

.info-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.some-random {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.four-box {
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    margin: 0;
    border: solid;
    border-radius: 20%;
    border-color: #3882f6;
    border-width: 3px;
}

.info-3 {
    background-color: #e5e7eb;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inspiring-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.info-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-container {
    display: flex;
    background-color: #3882f6;
    height: auto;
    width: 600px;
    border-radius: 5px;
    padding: 30px 40px;

}

.internal-left {
    display: flex;
    flex-direction: column;
}

/* .call-to-action {

}

.c-2-a-signup {

} */

/* .internal-right {

} */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}